@import "tailwindcss";

input, textarea, select {
  appearance: none;
  outline: none;
}

select {
  appearance: none;
}
select::picker(select) {
  appearance: none;
}

select option {
  background-color: white;
  color: #333;
  padding: 5px;
}

select option:hover {
  background-color: #007bff;
  color: #fff;
}
